---
title: Internet Cafe Sleepover
---

<section id="article-cover">
  <span>
    <h3>
      Day 8:
    </h3>
    <h1>
      Internet Cafe Sleepover
    </h1>
  </span>

  <img width="750" height="499"
      src="/images/day-08/750/15-days-in-japan-internet-cafe-sleepover-14.jpg"
      data-image-medium-src="/images/day-08/1500/15-days-in-japan-internet-cafe-sleepover-14.jpg"
      data-image-large-src="/images/day-08/3000/15-days-in-japan-internet-cafe-sleepover-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <p>
    I lived a day that my friends say resembles the Tokyo University student
    lifestyle. I could only sleep for three hours before checking out from
    my hotel, so I went to an Internet Cafe for a few more before going out again.
  </p>

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-01.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-01.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-01.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-02.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-02.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    All drinks are free for Internet Cafe users.
  </p>

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-03.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-03.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-03.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-08.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-08.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-08.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    I had Gyudon at Yoshinoya, a very low-cost and fast meal.
  </p>

  <p class="break">
    <b>More drinks and Ramen</b><br>
    I met a group of friends for drinks and we went to a Ramen bar. This bar
    is popular for having divisions between the seats so that the
    customers can focus on eating the Ramen, which is very good.
  </p>

  <img width="625" height="415"
      src="/images/day-08/750/15-days-in-japan-internet-cafe-sleepover-04.jpg" class="full"
      data-image-medium-src="/images/day-08/1500/15-days-in-japan-internet-cafe-sleepover-04.jpg"
      data-image-large-src="/images/day-08/3000/15-days-in-japan-internet-cafe-sleepover-04.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-05.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-05.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-05.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-06.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-06.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-06.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-21.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-21.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-21.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-11.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-11.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-12.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-12.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-12.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    Locals orderly waiting for the bus late on a Saturday night.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-08/750/15-days-in-japan-internet-cafe-sleepover-14.jpg"
      data-image-medium-src="/images/day-08/1500/15-days-in-japan-internet-cafe-sleepover-14.jpg"
      data-image-large-src="/images/day-08/3000/15-days-in-japan-internet-cafe-sleepover-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-13.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-13.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-13.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-16.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-16.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-16.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-17.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-17.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-17.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-18.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-18.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-18.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-15.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-15.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-15.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-19.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-19.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-19.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-08/625/15-days-in-japan-internet-cafe-sleepover-20.jpg"
      data-image-medium-src="/images/day-08/1250/15-days-in-japan-internet-cafe-sleepover-20.jpg"
      data-image-large-src="/images/day-08/2500/15-days-in-japan-internet-cafe-sleepover-20.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">


</section>

<section id="article-footer">

  <div class="next-article">
    <a href="/day-09/harajuku-style">
      <img width="1500" height="2258"
        src="/images/day-09/750/15-days-in-japan-harajuku-style-17.jpg"
        data-image-medium-src="/images/day-09/2500/15-days-in-japan-harajuku-style-17.jpg"
        data-image-large-src="/images/day-09/3000/15-days-in-japan-harajuku-style-17.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-09/harajuku-style">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-09/harajuku-style">Day 9:</a>
    </h3>
    <h1>
      <a href="/day-09/harajuku-style">Harajuku Style</a>
    </h1>
  </div>

  <div class="previous-article">
    <a href="/day-07/old-town-and-downtown">
      <img width="1500" height="2258"
        src="/images/day-07/750/15-days-in-japan-old-town-and-downtown-13.jpg"
        data-image-medium-src="/images/day-07/2500/15-days-in-japan-old-town-and-downtown-13.jpg"
        data-image-large-src="/images/day-07/3000/15-days-in-japan-old-town-and-downtown-13.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-07/old-town-and-downtown">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-07/old-town-and-downtown">Day 7:</a>
    </h3>
    <h1>
      <a href="/day-07/old-town-and-downtown">Old Town and Downtown</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
