---
title: The Shinkansen
---

<section id="article-cover">
  <span>
    <h3>
      Day 10:
    </h3>
    <h1>
      The Shinkansen
    </h1>
  </span>

  <img width="750" height="499"
      src="/images/day-10/750/15-days-in-japan-the-shinkansen-27.jpg"
      data-image-medium-src="/images/day-10/1500/15-days-in-japan-the-shinkansen-27.jpg"
      data-image-large-src="/images/day-10/3000/15-days-in-japan-the-shinkansen-27.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <p>
    Today my goal was to travel accross Japan from Tokyo in the East coast to
    Hiroshima, very close to the West coast. It took me about 4 hours to travel
    almost 500 miles.
  </p>

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-24.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-24.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-24.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-02.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-02.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    The Japanese Rail (JR) pass is only available for tourist visitors of Japan.
    It costs ¥208,000 for a 7-day pass and gives you access to most inter-city rail
    systems including the Shinkansen. Just a one-way trip from Tokyo to Hiroshima
    costs ¥18,700 without the pass.
  </p>

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-01.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-01.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-01.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-10/750/15-days-in-japan-the-shinkansen-28.jpg"
      data-image-medium-src="/images/day-10/1500/15-days-in-japan-the-shinkansen-28.jpg"
      data-image-large-src="/images/day-10/3000/15-days-in-japan-the-shinkansen-28.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-10/750/15-days-in-japan-the-shinkansen-27.jpg"
      data-image-medium-src="/images/day-10/1500/15-days-in-japan-the-shinkansen-27.jpg"
      data-image-large-src="/images/day-10/3000/15-days-in-japan-the-shinkansen-27.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-29.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-29.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-29.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Not only is this bullet train really fast, it is also very quiet.
    Every seat is very spacious and has a power socket. The car body is made
    of aluminum alloy and on the areas between carriages most of the surfaces
    are on this brushed aluminum.
  </p>

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-06.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-06.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-06.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-04.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-04.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-04.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-03.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-03.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-03.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Hiroshima</b><br>
    By the time I arrived to my hostel in Hiroshima it was already night. I
    went to have Okonomiaki at a restaurant nearby and explored the downtown
    area, which was dead quiet, before going to sleep.
  </p>

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-07.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-07.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-07.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    Having a 3G connection all the time is an absolute life-saver. Google Maps
    can help you know what fare you need to buy, what line you need to get,
    what platform you need to go to and, of course, give you directions for your
    stay at night.
  </p>

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-11.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-11.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-12.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-12.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-12.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-10/750/15-days-in-japan-the-shinkansen-13.jpg"
      data-image-medium-src="/images/day-10/1500/15-days-in-japan-the-shinkansen-13.jpg"
      data-image-large-src="/images/day-10/3000/15-days-in-japan-the-shinkansen-13.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-14.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-14.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-15.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-15.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-15.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    The Okonomiaki sauce.
  </p>

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-16.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-16.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-16.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-17.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-17.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-17.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    My Okonomiaki, a Japanese-style pankake, had noodles, egg, squid, octupus,
    cabbage and pork.
  </p>

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-18.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-18.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-18.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-20.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-20.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-20.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-10/625/15-days-in-japan-the-shinkansen-21.jpg"
      data-image-medium-src="/images/day-10/1250/15-days-in-japan-the-shinkansen-21.jpg"
      data-image-large-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-21.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">


</section>

<section id="article-footer">

  <div class="next-article">
    <a href="/day-11/the-miyajima-island">
      <img width="1500" height="2258"
        src="/images/day-11/750/15-days-in-japan-the-miyajima-island-24.jpg"
        data-image-medium-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-24.jpg"
        data-image-large-src="/images/day-11/3000/15-days-in-japan-the-miyajima-island-24.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-11/the-miyajima-island">Next Post:</a>
    </h4>
    <h3>
      <a href="/day-11/the-miyajima-island">Day 11:</a>
    </h3>
    <h1>
      <a href="/day-11/the-miyajima-island">The Miyajima Island</a>
    </h1>
  </div>

  <div class="previous-article">
    <a href="/day-09/harajuku-style">
      <img width="1500" height="2258"
        src="/images/day-09/750/15-days-in-japan-harajuku-style-17.jpg"
        data-image-medium-src="/images/day-09/2500/15-days-in-japan-harajuku-style-17.jpg"
        data-image-large-src="/images/day-09/3000/15-days-in-japan-harajuku-style-17.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-09/harajuku-style">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-09/harajuku-style">Day 9:</a>
    </h3>
    <h1>
      <a href="/day-09/harajuku-style">Harajuku Style</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
