---
title: Osaka
---

<section id="article-cover">
  <span>
    <h3>
      Day 13:
    </h3>
    <h1>
      Osaka
    </h1>
  </span>

  <img width="750" height="499"
      src="/images/day-13/1500/15-days-in-japan-osaka-16.jpg"
      data-image-medium-src="/images/day-13/1500/15-days-in-japan-osaka-16.jpg"
      data-image-large-src="/images/day-13/3000/15-days-in-japan-osaka-16.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <p>
    I departed from Kyoto to Osaka to meet Seungyeon, a dear friend  from
    university. She showed me her favourite foods and sights of Osaka,
    specially around Namba. Osaka has a great outdoors culture: people
    sitting by the canal or on a sidewalk, people drinking outdoors, people
    skating in America town or people eating their bento boxes by the main
    road. Most places are small, inviting and interesting.
  </p>

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-01.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-01.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-01.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    We had Omu-rice at the restaurant that invented the recipe 100 years ago.
    This omelette with rice was incredibly tasty, and the sauce is similar to
    the Okonomyaki sauce. We also drank Calpis.
  </p>

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-05.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-05.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-05.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-07.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-07.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-07.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-08.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-08.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-08.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Night views</b><br>
    We wondered around the city for night views. We went to a ferris wheel and
    to the Umeda Sky Building. At the end of the night we went to a Yakitori
    restaurant, which not only serves you grilled chicken on a stick, but all
    sort of delicious grilled foods.
  </p>

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-13.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-13.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-13.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-13/750/15-days-in-japan-osaka-11.jpg"
      data-image-medium-src="/images/day-13/1500/15-days-in-japan-osaka-11.jpg"
      data-image-large-src="/images/day-13/3000/15-days-in-japan-osaka-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-10.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-10.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-10.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-14.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-14.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-20.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-20.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-20.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-19.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-19.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-19.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-13/750/15-days-in-japan-osaka-16.jpg"
      data-image-medium-src="/images/day-13/1500/15-days-in-japan-osaka-16.jpg"
      data-image-large-src="/images/day-13/3000/15-days-in-japan-osaka-16.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-17.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-17.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-17.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-18.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-18.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-18.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-23.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-23.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-23.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-21.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-21.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-21.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-22.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-22.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-22.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-24.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-24.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-24.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-04.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-04.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-04.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-25.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-25.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-25.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-26.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-26.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-26.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">


  <p class="break">
    <b>Capsule Hotel</b><br>
    When you enter the hotel you take off your shoes and place them inside one
    of the lockers by the entrance. At the reception you give them your shoe
    locker keys and reservation receipt and in exchange you get your luggage
    locker key and capsule number. After you store all your luggage on the
    locker, you must wear the pyjamas placed inside the locker. Afterwards you
    can make use of the bathroom, sauna or public bath. There is also a
    television room, pachinko machines, games and anime room, a laptop or
    portable games area, bar/restaurant, laundry and massage room.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-13/750/15-days-in-japan-osaka-27.jpg"
      data-image-medium-src="/images/day-13/1500/15-days-in-japan-osaka-27.jpg"
      data-image-large-src="/images/day-13/3000/15-days-in-japan-osaka-27.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-03.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-03.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-03.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-13/625/15-days-in-japan-osaka-02.jpg"
      data-image-medium-src="/images/day-13/1250/15-days-in-japan-osaka-02.jpg"
      data-image-large-src="/images/day-13/2500/15-days-in-japan-osaka-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">


</section>

<section id="article-footer">

  <div class="next-article">
    <a href="/day-14/tokyo-robot-dinner">
      <img width="1500" height="2258"
        src="/images/day-14/750/15-days-in-japan-tokyo-robot-dinner-26.jpg"
        data-image-medium-src="/images/day-14/2500/15-days-in-japan-tokyo-robot-dinner-26.jpg"
        data-image-large-src="/images/day-14/3000/15-days-in-japan-tokyo-robot-dinner-26.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-14/tokyo-robot-dinner">Next Post:</a>
    </h4>
    <h3>
      <a href="/day-14/tokyo-robot-dinner">Day 14:</a>
    </h3>
    <h1>
      <a href="/day-14/tokyo-robot-dinner">Tokyo Robot Dinner</a>
    </h1>
  </div>

  <div class="previous-article">
    <a href="/day-12/castles-of-kyoto">
      <img width="1500" height="2258"
        src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-46.jpg"
        data-image-medium-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-46.jpg"
        data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-46.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-12/castles-of-kyoto">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-12/castles-of-kyoto">Day 12:</a>
    </h3>
    <h1>
      <a href="/day-12/castles-of-kyoto">Castles of Kyoto</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
