<div class="about-site">
  <span class="col-2">
    <h4>About 15 Days in Japan</h4>
    <p>
      This a visual diary of my first experiences in Japan as I travelled across
      the country and met many different people in 2013.
    <p>
      This blog is inspired by the wonderful
      <a href="http://19daysinjapan.com" target="_blank"><i>19 Days in Japan</i></a>,
      which I used as a model. Please have a look at it and support the work
      <a href="http://akanekinomoto.com" target="_blank">Lena</a> and
      <a href="http://mutelife.com" target="_blank">Filipe</a>
      have done.
      <a href="http://www.mikematas.com" target="_blank">Mike Mata</a>'s
      <a href="http://vimeo.com/33813356" target="_blank"><i>One Week In Japan</i></a>
      timelapse is also an inspiration and motivation.
    </p>
  </span>
  <span class="col">
    <h4>About the Author</h4>
    <p>
      I'm <a href="http://nunocoelhosantos.com" target="_blank">Nuno</a>,
      a designer and developer based in London.
      Follow my <a href="http://twitter.com/nunosans" target="_blank">Twitter</a>
      or <a href="http://instagram.com/nunosans" target="_blank">Instagram</a>
      for updates about my work, or send me a message on
      <a href="http://line.me/R/ti/p/~nunosans" target="_blank">LINE</a>.
    </p>
  </span>
</div>
