<div class="about-site">
  <span class="col-2">
    <h4>About 15 Days in Japan</h4>
    <p>
      This a recording of my first experiences in Japan as I travel across
      the country and meet many different people.
    <p>
      This blog is inspired by the wonderful
      <a href="http://19daysinjapan.com" target="_blank"><i>19 Days in Japan</i></a>,
      which I used as a model. Please have a look at it and support the work
      <a href="http://akanekinomoto.com" target="_blank">Lena</a> and
      <a href="http://mutelife.com" target="_blank">Filipe</a>
      have done.
      <a href="http://www.mikematas.com" target="_blank">Mike Mata</a>'s
      <a href="http://vimeo.com/33813356" target="_blank"><i>One Week In Japan</i></a>
      timelapse is also an inspiration and motivation.
    </p>
  </span>
  <span class="col">
    <h4>About the Author</h4>
    <p>
      After many years fascinated by Japanese culture I decided to make the dream
      trip of my life. I live in London and work at a digital studio called
      <a href="http://ustwo.co.uk" target="_blank">ustwo</a>.
      If you want to get in touch, go to
      <a href="http://twitter.com/nunoustwo" target="_blank">my Twitter</a>
      or add me on Line: <b>nunosans</b>.<br>
      <i>— <a href="http://nunocoelhosantos.com">Nuno</a></i>
    </p>
  </span>
  <span class="col">
    <h4>More</h4>
    <p>
      All content related to this blog is hashtagged as #15daysinjapan.
    </p>
    <p>
      Discover more content on my:
    </p>
    <ul>
      <li><a href="http://instagram.com/nunoustwo" target="_blank">Instagram</a></li>
      <li><a href="http://twitter.com/nunoustwo" target="_blank">Twitter</a></li>
    </ul>
  </span>
</div>
