<ul class="posts-list">

  <li>
    <a href="/day-01/from-london-to-shibuya">
      <img width="170" height="110"
        style="top: -20px;"
        src="/images/day-01/375/15-days-in-japan-from-london-to-shibuya-34.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-01/from-london-to-shibuya">
        Day 1:<br>
        From London to Shibuya
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-02/wedding-at-the-meiji-jingu-shrine">
      <img width="170" height="110"
        src="/images/day-02/375/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-02/wedding-at-the-meiji-jingu-shrine">
        Day 2:<br>
        Wedding at the Meiji Jingu Shrine
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-03/roppongi-hills">
      <img width="170" height="110"
        src="/images/day-03/375/15-days-in-japan-roppongi-hills-02.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-03/roppongi-hills">
        Day 3:<br>
        Roppongi Hills
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-04/geek-temples-of-akihabara">
      <img width="170" height="110"
        src="/images/day-04/375/15-days-in-japan-geek-temples-of-akihabara-18.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-04/geek-temples-of-akihabara">
        Day 4:<br>
        Geek Temples of Akihabara
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-05/enter-the-ryokan">
      <img width="170" height="110"
        src="/images/day-05/375/15-days-in-japan-enter-the-ryokan-03.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-05/enter-the-ryokan">
        Day 5:<br>
        Enter the Ryokan
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-06/kamakura-and-yokohama">
      <img width="170" height="110"
        src="/images/day-06/375/15-days-in-japan-kamakura-and-yokohama-20.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-06/kamakura-and-yokohama">
        Day 6:<br>
        Kamakura and Yokohama
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-07/old-town-and-downtown">
      <img width="170" height="110"
        src="/images/day-07/375/15-days-in-japan-old-town-and-downtown-13.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-07/old-town-and-downtown">
        Day 7:<br>
        Old Town and Downtown
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-08/internet-cafe-sleepover">
      <img width="170" height="110"
        src="/images/day-08/375/15-days-in-japan-internet-cafe-sleepover-14.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-08/internet-cafe-sleepover">
        Day 8:<br>
        Internet Cafe Sleepover
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-09/harajuku-style">
      <img width="170" height="110"
        src="/images/day-09/375/15-days-in-japan-harajuku-style-17.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-09/harajuku-style">
        Day 9:<br>
        Harajuku Style
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-10/the-shinkansen">
      <img width="170" height="110"
        src="/images/day-10/375/15-days-in-japan-the-shinkansen-27.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-10/the-shinkansen">
        Day 10:<br>
        The Shinkansen
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-11/the-miyajima-island">
      <img width="170" height="110"
        src="/images/day-11/375/15-days-in-japan-the-miyajima-island-24.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-11/the-miyajima-island">
        Day 11:<br>
        The Miyajima Island
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-12/castles-of-kyoto">
      <img width="170" height="110"
        src="/images/day-12/375/15-days-in-japan-castles-of-kyoto-46.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-12/castles-of-kyoto">
        Day 12:<br>
        Castles of Kyoto
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-13/osaka">
      <img width="170" height="110"
        src="/images/day-13/375/15-days-in-japan-osaka-16.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-13/osaka">
        Day 13:<br>
        Osaka
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-14/tokyo-robot-dinner">
      <img width="170" height="110"
        src="/images/day-14/375/15-days-in-japan-tokyo-robot-dinner-26.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-14/tokyo-robot-dinner">
        Day 14:<br>
        Tokyo Robot Dinner
      </a>
    </h5>
  </li>

  <li>
    <a href="/day-15/thank-you">
      <img width="170" height="110"
        src="/images/day-15/375/15-days-in-japan-thank-you-19.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h5>
      <a href="/day-15/thank-you">
        Day 15:<br>
        Thank You
      </a>
    </h5>
  </li>

</ul>
