---
title: Castles of Kyoto
---

<section id="article-cover">
  <span>
    <h3>
      Day 12:
    </h3>
    <h1>
      Castles of Kyoto
    </h1>
  </span>

  <img width="750" height="499"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-46.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-46.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-46.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <p>
    I have the whole city of Kyoto to discover and the entire day to do it. I
    am intrigued by the old capital of Japan and the more traditional places I
    will visit. Today I will be going to three temples: Kinkaku-ji, Nijō Castle
    and Kiyomizu-dera.<br><br>
    I purchased a one-day bus pass to travel around town. What's most
    interesting about the bus system is that you enter the vehicle on the back
    and exit on the front, paying when you leave rather than as you get on board.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-01.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-01.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-01.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-02.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-02.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-03.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-03.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-03.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-04.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-04.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-04.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-05.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-05.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-05.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-06.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-06.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-06.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Kinkaku-ji</b><br>
    Famous for the golden pavilion and, like most other temples in
    Kyoto, meticulous garden design. I arrived in the morning to this temple
    located in the northwest area of central Kyoto.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-07.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-07.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-07.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-08.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-08.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-08.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-09.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-09.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-09.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-10.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-10.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-10.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    "Be safe and sound" is written on these candles that you can light up near the
    temple.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-11.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-11.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-12.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-12.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-12.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Nijō Castle</b><br>
    The Nijō Castle is impressive by the decoration of the temples, by the vast
    gardens and by the fortifications around the grounds. It's located slightly
    east to the center of Kyoto, just on the way to Kiyomizu-dera.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-15.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-15.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-15.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-14.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-14.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-16.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-16.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-16.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-42.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-42.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-42.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-17.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-17.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-17.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-18.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-18.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-18.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-19.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-19.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-19.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-20.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-20.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-20.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-21.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-21.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-21.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-22.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-22.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-22.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Kiyomizu-dera</b><br>
    The Kiyomizu-dera temple is located closer to a mountain and provides a view
    to the entire city centre. I crossed the gates before sunset and wondered on
    the market that goes along the road between the temple and the city.
  </p>

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-23.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-23.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-23.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-24.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-24.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-24.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-26.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-26.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-26.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-28.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-28.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-28.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-46.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-46.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-46.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-30.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-30.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-30.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-47.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-47.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-47.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-33.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-33.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-33.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-34.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-34.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-34.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-35.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-35.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-35.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-36.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-36.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-36.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-37.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-37.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-37.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-39.jpg"
      data-image-medium-src="/images/day-12/1500/15-days-in-japan-castles-of-kyoto-39.jpg"
      data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-39.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-38.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-38.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-38.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-12/625/15-days-in-japan-castles-of-kyoto-40.jpg"
      data-image-medium-src="/images/day-12/1250/15-days-in-japan-castles-of-kyoto-40.jpg"
      data-image-large-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-40.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">


</section>

<section id="article-footer">

  <div class="next-article">
    <a href="/day-13/osaka">
      <img width="1500" height="2258"
        src="/images/day-13/750/15-days-in-japan-osaka-16.jpg"
        data-image-medium-src="/images/day-13/2500/15-days-in-japan-osaka-16.jpg"
        data-image-large-src="/images/day-13/3000/15-days-in-japan-osaka-16.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-13/osaka">Next Post:</a>
    </h4>
    <h3>
      <a href="/day-13/osaka">Day 13:</a>
    </h3>
    <h1>
      <a href="/day-13/osaka">Osaka</a>
    </h1>
  </div>

  <div class="previous-article">
    <a href="/day-11/the-miyajima-island">
      <img width="1500" height="2258"
        src="/images/day-11/750/15-days-in-japan-the-miyajima-island-24.jpg"
        data-image-medium-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-24.jpg"
        data-image-large-src="/images/day-11/3000/15-days-in-japan-the-miyajima-island-24.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-11/the-miyajima-island">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-11/the-miyajima-island">Day 11:</a>
    </h3>
    <h1>
      <a href="/day-11/the-miyajima-island">The Miyajima Island</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
