---
title: Enter the Ryokan
---

<section id="article-cover">
  <span>
    <h3>
      Day 5:
    </h3>
    <h1>
      Enter the Ryokan
    </h1>
  </span>

  <img width="750" height="499"
      src="/images/day-05/1500/15-days-in-japan-enter-the-ryokan-03.jpg"
      data-image-medium-src="/images/day-05/1500/15-days-in-japan-enter-the-ryokan-03.jpg"
      data-image-large-src="/images/day-05/3000/15-days-in-japan-enter-the-ryokan-03.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <p>
    <b>Homeikan</b><br>
    This is a traditional inexpensive Japanese accommodation located a little away
    from central Tokyo. The rooms are generously sized and bright. They smell of
    old wood and everything looks older than my age multiplied two or three times.
    And I love it here.
  </p>

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-01.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-01.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-01.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-05/750/15-days-in-japan-enter-the-ryokan-02.jpg"
      data-image-medium-src="/images/day-05/1500/15-days-in-japan-enter-the-ryokan-02.jpg"
      data-image-large-src="/images/day-05/3000/15-days-in-japan-enter-the-ryokan-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-03.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-03.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-03.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    A Ryokan is a traditional style Japanese Inn. Ryokans vary from more modern
    to more traditional, from luxurious to inexpensive. Other forms of
    Japanese accommodation are Minshukus and Shukubos. Minshukus are small
    wooden houses with small rooms that provide a more homey experience. Shukubos
    are accommodation located inside Japanese temples.
  </p>

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-04.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-04.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-04.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-05.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-05.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-05.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    You wear only underwear under your Yukata. You must wear the right side of
    the robe over the body and the left side over the right side. The other
    way around is used for dressing the deceased.
  </p>

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-06.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-06.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-06.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Cat Café</b><br>
    Later in the day I was wondering around Oidaba, the artificial island of Tokyo.
    It was incredibly windy because of a weak typhoon crossing Japan that day.
    But during the short time I was there I found a curious looking entrance to
    a shop that turned out to be a cat café.
  </p>

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-07.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-07.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-07.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-08.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-08.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-08.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-05/750/15-days-in-japan-enter-the-ryokan-09.jpg"
      data-image-medium-src="/images/day-05/1500/15-days-in-japan-enter-the-ryokan-09.jpg"
      data-image-large-src="/images/day-05/3000/15-days-in-japan-enter-the-ryokan-09.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    A Cat Café is not a café inhabited by cats, but instead a big cat house that
    serves you coffee. You buy your beverage when you enter and are allowed to
    stay for an hour.
  </p>

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-10.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-10.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-10.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-11.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-11.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-12.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-12.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-12.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Trip back to Asakusa</b><br>
    From Odaiba I took the JR Train and the Tokyo Metro to Asakusa. That
    train ride is phenomenal, and the train is self-driven, so you can site at
    the very front of the carriage. Once in Asakusa, I visited the Sensoji
    Temple and wondered in the local market.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-05/750/15-days-in-japan-enter-the-ryokan-15.jpg"
      data-image-medium-src="/images/day-05/1500/15-days-in-japan-enter-the-ryokan-15.jpg"
      data-image-large-src="/images/day-05/3000/15-days-in-japan-enter-the-ryokan-15.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-14.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-14.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-18.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-18.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-18.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-20.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-20.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-20.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-27.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-27.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-27.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-28.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-28.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-28.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    Breathing the smoke from this incense burner is said to purify you. It is
    also said that getting it on your head will make you cleverer.
  </p>

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-30.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-30.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-30.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-32.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-32.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-32.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-33.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-33.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-33.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-19.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-19.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-19.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-23.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-23.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-23.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-24.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-24.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-24.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-25.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-25.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-25.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Ginza</b><br>
    I met Kana and Yoko when they left work, just before night fell. We walked
    around the area, before meeting others to go up the Tokyo Metropolitan
    Government building and enjoy the view.
  </p>

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-34.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-34.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-34.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-05/750/15-days-in-japan-enter-the-ryokan-36.jpg"
      data-image-medium-src="/images/day-05/1500/15-days-in-japan-enter-the-ryokan-36.jpg"
      data-image-large-src="/images/day-05/3000/15-days-in-japan-enter-the-ryokan-36.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    Entrance of the Kabukiza theater in Ginza, the main theater for the traditional
    style Japanese dance-drama kabuki.
  </p>

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-37.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-37.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-37.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-39.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-39.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-39.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    A collection of lucky charms to be bought and placed inside an amulet.
  </p>

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-40.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-40.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-40.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-41.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-41.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-41.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-05/625/15-days-in-japan-enter-the-ryokan-42.jpg"
      data-image-medium-src="/images/day-05/1250/15-days-in-japan-enter-the-ryokan-42.jpg"
      data-image-large-src="/images/day-05/2500/15-days-in-japan-enter-the-ryokan-42.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">


</section>

<section id="article-footer">

  <div class="next-article">
    <a href="/day-06/kamakura-and-yokohama">
      <img width="1500" height="2258"
        src="/images/day-06/750/15-days-in-japan-kamakura-and-yokohama-20.jpg"
        data-image-medium-src="/images/day-06/2500/15-days-in-japan-kamakura-and-yokohama-20.jpg"
        data-image-large-src="/images/day-06/3000/15-days-in-japan-kamakura-and-yokohama-20.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-06/kamakura-and-yokohama">Next Post:</a>
    </h4>
    <h3>
      <a href="/day-06/kamakura-and-yokohama">Day 6:</a>
    </h3>
    <h1>
      <a href="/day-06/kamakura-and-yokohama">Kamakura and Yokohama</a>
    </h1>
  </div>

  <div class="previous-article">
    <a href="/day-04/geek-temples-of-akihabara">
      <img width="1500" height="2258"
        src="/images/day-04/750/15-days-in-japan-geek-temples-of-akihabara-18.jpg"
        data-image-medium-src="/images/day-04/2500/15-days-in-japan-geek-temples-of-akihabara-18.jpg"
        data-image-large-src="/images/day-04/3000/15-days-in-japan-geek-temples-of-akihabara-18.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-04/geek-temples-of-akihabara">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-04/geek-temples-of-akihabara">Day 4:</a>
    </h3>
    <h1>
      <a href="/day-04/geek-temples-of-akihabara">Geek Temples of Akihabara</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
