---
title: Wedding at the Meiji Jingu Shrine
---

<section id="article-cover">
  <span>
    <h3>
      Day 2:
    </h3>
    <h1>
      Wedding at the Meiji Jingu Shrine
    </h1>
  </span>

  <img width="750" height="499"
      src="/images/day-02/750/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
      data-image-medium-src="/images/day-02/1500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
      data-image-large-src="/images/day-02/3000/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-01.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-01.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-01.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    For my second day in Tokyo, Nanae, a newly-made friend, planned for us to visit
    the Meiji Jingu Shrine in the northwest area of central Tokyo.
  </p>

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-02.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-02.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-03.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-03.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-03.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-04.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-04.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-04.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Before you cross the gate, you must bow to show respect to the Gods of the shrine.
    You must also not walk in the middle of the approach to the shrine. The center
    is destined to the Gods.
  </p>

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-05.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-05.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-05.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-06.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-06.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-06.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-07.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-07.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-07.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    You must take a water scoop on your right hand, wash your left hand, switch
    the scoop to your left hand, wash your right hand, switch back the scoop to your
    right hand, pour water on your left hand, wash your mouth, then hold the scoop
    vertically pointing upwards to dry the remaining water, and place it back
    exactly the way it was initially.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-02/750/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-08.jpg"
      data-image-medium-src="/images/day-02/1500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-08.jpg"
      data-image-large-src="/images/day-02/3000/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-08.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Once in front of the shrine, you can make your prayer or wish, drop a coin,
    make two bowings, two claps, and one more bowing for the Gods to listen to you.
  </p>

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-15.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-15.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-15.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-12.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-12.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-12.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-13.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-13.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-13.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    Visitors of the shrine write a wish on a wooden board and hang it by the
    entrance of the shrine.
  </p>

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-14.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-14.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    "I hope everyone in my class will pass the exam to enter the universities
    they want to get into." By a high school student girl.
  </p>

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-09.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-09.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-09.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    We were lucky to witness two Japanese weddings, happening one right after the
    other, minutes after we arrived.
  </p>

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-10.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-10.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-10.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-11.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-11.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-16.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-16.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-16.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    This is a stall selling Omamori. These amulets are meant to be bought for oneself
    or for a relative, and you must write a wish or a prayer on a piece of paper and
    place it inside the Omamori. After a year you must replace your Omamori to ward
    off bad luck.
  </p>

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-18.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-18.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-18.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <!--<p>Soneto</p>-->

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-19.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-19.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-19.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-20.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-20.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-20.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-21.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-21.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-21.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-22.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-22.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-22.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Back to Shibuya</b><br>
    We walked from the shrine to Shibuya to meet a friend of Nanae's, who was
    having his birthday party. And after that, we continued the night with more
    drinks and sushi with the newly made friends.
  </p>


  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-23.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-23.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-23.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-25.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-25.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-25.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-26.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-26.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-26.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-27.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-27.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-27.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-28.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-28.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-28.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-29.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-29.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-29.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-31.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-31.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-31.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-32.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-32.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-32.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-33.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-33.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-33.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-35.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-35.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-35.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-37.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-37.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-37.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-38.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-38.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-38.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-39.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-39.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-39.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-40.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-40.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-40.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    The legendary Masa, who welcomed me on my first night in Tokyo and took me out with his friends.
  </p>

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-41.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-41.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-41.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-42.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-42.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-42.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-43.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-43.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-43.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    My PASMO pass for the Tokyo Metro. You can get it in a minute on the ticket
    machines with your name and phone number printed on it.
  </p>

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-44.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-44.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-44.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-02/625/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-45.jpg"
      data-image-medium-src="/images/day-02/1250/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-45.jpg"
      data-image-large-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-45.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-footer">

  <div class="next-article">
    <a href="/day-03/roppongi-hills">
      <img width="1500" height="2258"
        src="/images/day-03/750/15-days-in-japan-roppongi-hills-02.jpg"
        data-image-medium-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-02.jpg"
        data-image-large-src="/images/day-03/3000/15-days-in-japan-roppongi-hills-02.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-03/roppongi-hills">Next Post:</a>
    </h4>
    <h3>
      <a href="/day-03/roppongi-hills">Day 3:</a>
    </h3>
    <h1>
      <a href="/day-03/roppongi-hills">Roppongi Hills</a>
    </h1>
  </div>

  <div class="previous-article">
    <a href="/day-01/from-london-to-shibuya">
      <img width="1500" height="2258"
        src="/images/day-01/750/15-days-in-japan-from-london-to-shibuya-34.jpg"
        data-image-medium-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-34.jpg"
        data-image-large-src="/images/day-01/3000/15-days-in-japan-from-london-to-shibuya-34.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-01/from-london-to-shibuya">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-01/from-london-to-shibuya">Day 1:</a>
    </h3>
    <h1>
      <a href="/day-01/from-london-to-shibuya">From London to Shibuya</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
