---
title: Thank You
---

<section id="article-cover">
  <span>
    <h3>
      Day 15:
    </h3>
    <h1>
      Thank You
    </h1>
  </span>

  <img width="750" height="499"
      src="/images/day-15/750/15-days-in-japan-thank-you-19.jpg"
      data-image-medium-src="/images/day-15/1500/15-days-in-japan-thank-you-19.jpg"
      data-image-large-src="/images/day-15/3000/15-days-in-japan-thank-you-19.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-02.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-02.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Over the last days I felt like I moved to Japan to begin a new life and
    didn't want it to end. I will miss the people I've met, and feel so lucky
    for all the moments we spent together. Japan is fantastic. I will miss you Japan.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-08.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-08.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-08.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Jack for lending me your camera as a contract that I would make
    this blog.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-07.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-07.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-07.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Mayu for the Japanese lessons during lunch time. Thank you Davide
    for supporting me in learning Japanese. And thank you everyone on the ustwo™
    Japanese class for making it all more fun.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-09.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-09.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-09.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Stenberg for sharing the enthusiasm with me and listening to me
    talk about my trip too many times in repeat.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-10.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-10.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-10.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Alvaro for getting me in touch with Nanae, for inspiring me with
    your amazing photography and for giving me the tip of always carrying my
    camera wrapped on my wrist.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-11.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-11.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Nanae for sharing all your knowledge with me and for being so
    welcoming. I think you completely changed my trip from minute I met you.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-21.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-21.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-21.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Alex for getting me in touch with Masa and for suggesting that I
    would buy a Japanese 3G SIM card—it saved me hours every day and made my
    trip extremely more enjoyable.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-23.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-23.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-23.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Masa for being my best friend in Japan. Every single time we went
    out was memorable.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-13.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-13.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-13.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Win for recommending me the Ryokan to say in Tokyo and for
    introducing me to Miki. Thank you Miki for taking me out with your friends
    and to the some of the nicest places I have been in Japan.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-12.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-12.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-12.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Yyenki, you are one of the smartest people I've ever met. I loved spending
    time with you. Thank you for giving me a place to stay and showing me your
    Tokyo.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-14.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-14.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Yuri for being my personal travel agent and texting me what to
    do when I had no clue where I was.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-01.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-01.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-01.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Kana and Yoko for being so welcoming, for being so much fun to spend
    time with and for showing me around Ginza.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-26.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-26.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-26.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Seungyeon for the fantastic day in Osaka. It was the nicest
    reunion I have ever had.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-06.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-06.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-06.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    Thank you Shiho for inviting me to the design event and for hanging out with
    me in Roppongi, I really enjoyed it.
  </p>

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-28.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-28.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-28.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-03.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-03.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-03.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-15.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-15.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-15.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-15/750/15-days-in-japan-thank-you-19.jpg"
      data-image-medium-src="/images/day-15/1500/15-days-in-japan-thank-you-19.jpg"
      data-image-large-src="/images/day-15/3000/15-days-in-japan-thank-you-19.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-20.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-20.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-20.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-15/750/15-days-in-japan-thank-you-22.jpg"
      data-image-medium-src="/images/day-15/1500/15-days-in-japan-thank-you-22.jpg"
      data-image-large-src="/images/day-15/3000/15-days-in-japan-thank-you-22.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-15/625/15-days-in-japan-thank-you-29.jpg"
      data-image-medium-src="/images/day-15/1250/15-days-in-japan-thank-you-29.jpg"
      data-image-large-src="/images/day-15/2500/15-days-in-japan-thank-you-29.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    If you followed these 15 days with me and want to travel in Japan, get in
    touch. I want to help you in every way I can. My email is
    <a href="mailto:nuno@nunocoelhosantos.com?subject=15%20Days%20in%20Japan%20-%20Tips%20and%20Advice">nuno@nunocoelhosantos.com</a>.
  </p>

  <h5>Helpful links:</h5>
  <ul>
    <li><a href="http://www.japaneseguesthouses.com" target="_blank">Japanese guest houses</a></li>
    <li><a href="http://www.bmobile.ne.jp/english/index.html" target="_blank">Visitor 3G SIM Card</a></li>
    <li><a href="http://www.jrpass.com" target="_blank">JR Pass</a></li>
    <li><a href="https://mapsengine.google.com/map/viewer?mid=zj4dKP-sQHUQ.k3m0l0r0z0xM" target="_blank">My Google Map</a></li>
    <li><a href="https://docs.google.com/spreadsheet/ccc?key=0AsWmpMs4yVdHdEl3OXRscV9GNGtRNGx2UUxUX3hyMnc&usp=sharing" target="_blank">My budget spreadsheet</a></li>
  </ul>

  <h5>What I took with me:</h5>
  <ul>
    <li>A <a href="http://www.apple.com/uk/macbook-air/" target="_blank">13' MacBook Air</a></li>
    <li>A <a href="http://www.fujifilm.com/products/digital_cameras/x/finepix_x100/" target="_blank">Fujifilm X100</a></li>
    <li>A <a href="http://www.amazon.co.uk/gp/product/B0070WU51U/ref=oh_details_o03_s00_i00?ie=UTF8&psc=1" target="_blank">64GB SD Card</a></li>
    <li>A <a href="http://www.amazon.co.uk/gp/product/B0063AAIRG/ref=oh_details_o00_s00_i00?ie=UTF8&psc=1" target="_blank">portable phone charger</a></li>
    <li>A <a href="http://www.jrpass.com" target="_blank">JR Pass</a> exchange receipt</li>
    <li>¥100,000</li>
    <li>A <a href="http://www.pinterest.com/pin/258886678551773688/" target="_blank">backpack</a></li>
    <li>A tote-bag</li>
    <li>A <a href="http://www.muji.us/store/accessories/rain/2-ways-foldable-umbrella.html" target="_blank">two-ways foldable umbrella</a></li>
    <li>A <a href="http://www.muji.eu/pages/online.asp?Sec=12&Sub=47&PID=1471" target="_blank">passport-size notebook</a> and <a href="http://www.muji.eu/pages/online.asp?Sec=13&Sub=52&PID=5162" target="_blank">one pen</a></li>
    <li>5 t-shirts, 2 trousers, 2 shirts, 1 long-sleeve</li>
    <li>A rain jacket</li>
    <li>5 days of underwear</li>
    <li><a href="http://www.pinterest.com/pin/100979216618491837/" target="_blank">Running trainers</a>, t-shirt and shorts</li>
    <li>Two phones, one of them unlocked</li>
    <li>Headache, cold and flu medicine</li>
    <li>English breakfast tea boxes to offer as presents</li>
  </ul>

  <h5>Notes:</h5>
  <ul>
    <li>The best <a href="http://www.japaneseguesthouses.com/ryokan-styles/" target="_blank">Ryokans</a> and <a href="https://www.airbnb.co.uk/s/japan" target="_blank">Airbnb accommodation</a> need to be booked a few weeks in advance. <a href="http://capsuleinn.com/en/" target="_blank">Capsule hotels</a> and <a href="http://www.hostelworld.com/accommodation/Japan" target="_blank">cheap hostels</a> can be booked as you travel around Japan.</li>
    <li>I recommend buying the <a href="http://www.bmobile.ne.jp/english/index.html" target="_blank">3G SIM card</a> online and picking it up at the Airport you're flying to.</li>
    <li>Your <a href="http://www.jrpass.com" target="_blank">JR pass</a> can only be ordered before you travel to Japan and will be delivered to your home address. Order it in advance.</li>
    <li>Travel as light as you can. I took a backpack full of clothes with me and it was too much. It's preferable to buy clothing once you're there.</li>
    <li>Think about how to store your photos. I took 90GB of photos and had 30GB of edited photo files.</li>
  </ul>


</section>

<section id="article-footer">

  <div class="previous-article">
    <a href="/day-14/tokyo-robot-dinner">
      <img width="1500" height="2258"
        src="/images/day-14/750/15-days-in-japan-tokyo-robot-dinner-26.jpg"
        data-image-medium-src="/images/day-14/2500/15-days-in-japan-tokyo-robot-dinner-26.jpg"
        data-image-large-src="/images/day-14/3000/15-days-in-japan-tokyo-robot-dinner-26.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-14/tokyo-robot-dinner">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-14/tokyo-robot-dinner">Day 14:</a>
    </h3>
    <h1>
      <a href="/day-14/tokyo-robot-dinner">Tokyo Robot Dinner</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
