---
title: Roppongi Hills
---

<section id="article-cover">
  <span>
    <h3>
      Day 3:
    </h3>
    <h1>
      Roppongi Hills
    </h1>
  </span>

  <img width="750" height="499"
      src="/images/day-03/1500/15-days-in-japan-roppongi-hills-02.jpg"
      data-image-medium-src="/images/day-03/1500/15-days-in-japan-roppongi-hills-02.jpg"
      data-image-large-src="/images/day-03/3000/15-days-in-japan-roppongi-hills-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <p>
    I woke up as the night was falling, on my third day in Tokyo. Which was
    my last in Akasaka. So I decided to enjoy the view from
    the rooftop of the building one last time.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-03/750/15-days-in-japan-roppongi-hills-01.jpg"
      data-image-medium-src="/images/day-03/1500/15-days-in-japan-roppongi-hills-01.jpg"
      data-image-large-src="/images/day-03/3000/15-days-in-japan-roppongi-hills-01.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-03/750/15-days-in-japan-roppongi-hills-02.jpg"
      data-image-medium-src="/images/day-03/1500/15-days-in-japan-roppongi-hills-02.jpg"
      data-image-large-src="/images/day-03/3000/15-days-in-japan-roppongi-hills-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    All I had planned for the day was to meet Shiho, a good friend from university
    who was living in Tokyo. She invited me to a Design event called
    <a href="http://pausetalk.org" target="_blank">PauseTalks</a>,
    took me out for ramen and wondered with me around Roppongi Hills.
  </p>

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-03.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-03.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-03.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-04.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-04.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-04.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-05.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-05.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-05.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    One of the attendees holding a
    <a href="http://connect.dpreview.com/post/3986260865/ricoh-unveils-360-degree-smart-phone-controlled-theta-camera"
    targt="blank">Ricoh</a> camera.
  </p>

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-06.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-06.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-06.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-16.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-16.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-16.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-15.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-15.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-15.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-07.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-07.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-07.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-14.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-14.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-09.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-09.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-09.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-03/750/15-days-in-japan-roppongi-hills-10.jpg"
      data-image-medium-src="/images/day-03/1500/15-days-in-japan-roppongi-hills-10.jpg"
      data-image-large-src="/images/day-03/3000/15-days-in-japan-roppongi-hills-10.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-11.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-11.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-03/625/15-days-in-japan-roppongi-hills-13.jpg"
      data-image-medium-src="/images/day-03/1250/15-days-in-japan-roppongi-hills-13.jpg"
      data-image-large-src="/images/day-03/2500/15-days-in-japan-roppongi-hills-13.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">


</section>

<section id="article-footer">

  <div class="next-article">
    <a href="/day-04/geek-temples-of-akihabara">
      <img width="1500" height="2258"
        src="/images/day-04/750/15-days-in-japan-geek-temples-of-akihabara-18.jpg"
        data-image-medium-src="/images/day-04/2500/15-days-in-japan-geek-temples-of-akihabara-18.jpg"
        data-image-large-src="/images/day-04/3000/15-days-in-japan-geek-temples-of-akihabara-18.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-04/geek-temples-of-akihabara">Next Post:</a>
    </h4>
    <h3>
      <a href="/day-04/geek-temples-of-akihabara">Day 4:</a>
    </h3>
    <h1>
      <a href="/day-04/geek-temples-of-akihabara">Geek Temples of Akihabara</a>
    </h1>
  </div>

  <div class="previous-article">
    <a href="/day-02/wedding-at-the-meiji-jingu-shrine">
      <img width="1500" height="2258"
        src="/images/day-02/750/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
        data-image-medium-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
        data-image-large-src="/images/day-02/3000/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-02/wedding-at-the-meiji-jingu-shrine">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-02/wedding-at-the-meiji-jingu-shrine">Day 2:</a>
    </h3>
    <h1>
      <a href="/day-02/wedding-at-the-meiji-jingu-shrine">Wedding at the Meiji Jingu Shrine</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
