---
title: The Miyajima Island
---

<section id="article-cover">
  <span>
    <h3>
      Day 11:
    </h3>
    <h1>
      The Miyajima Island
    </h1>
  </span>

  <img width="750" height="499"
      src="/images/day-11/1500/15-days-in-japan-the-miyajima-island-24.jpg"
      data-image-medium-src="/images/day-11/1500/15-days-in-japan-the-miyajima-island-24.jpg"
      data-image-large-src="/images/day-11/3000/15-days-in-japan-the-miyajima-island-24.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <p>
    On my day trip around Hiroshima I took the tram to the Atomic Bomb Dome
    and then a ferry to the Miyajima Island. The actual name of the island is
    Itsukushima, but people call it Miyajima which means “Shrine Island”.
  </p>

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-01.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-01.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-01.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-02.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-02.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-02.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-11/750/15-days-in-japan-the-miyajima-island-04.jpg"
      data-image-medium-src="/images/day-11/1500/15-days-in-japan-the-miyajima-island-04.jpg"
      data-image-large-src="/images/day-11/3000/15-days-in-japan-the-miyajima-island-04.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    The Atomic Bomb Dome is the only building that stood after the atomic bombings
    attack. It has since become known as the Hiroshima Peace Memorial.
  </p>

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-05.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-05.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-05.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-11/750/15-days-in-japan-the-miyajima-island-06.jpg"
      data-image-medium-src="/images/day-11/1500/15-days-in-japan-the-miyajima-island-06.jpg"
      data-image-large-src="/images/day-11/3000/15-days-in-japan-the-miyajima-island-06.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-09.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-09.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-09.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-08.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-08.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-08.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-07.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-07.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-07.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-10.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-10.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-10.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-11/750/15-days-in-japan-the-miyajima-island-11.jpg"
      data-image-medium-src="/images/day-11/1500/15-days-in-japan-the-miyajima-island-11.jpg"
      data-image-large-src="/images/day-11/3000/15-days-in-japan-the-miyajima-island-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-12.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-12.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-12.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p class="break">
    <b>Miyajima Island</b><br>
    On the island, there is a soft piano song playing on the speakers when you arrive.
    It is quite magical. And the entire island is inhabited by deers.
  </p>

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-33.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-33.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-33.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-13.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-13.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-13.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-14.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-14.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-16.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-16.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-16.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-11/750/15-days-in-japan-the-miyajima-island-18.jpg"
      data-image-medium-src="/images/day-11/1500/15-days-in-japan-the-miyajima-island-18.jpg"
      data-image-large-src="/images/day-11/3000/15-days-in-japan-the-miyajima-island-18.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-17.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-17.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-17.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-19.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-19.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-19.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-20.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-20.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-20.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-22.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-22.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-22.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-21.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-21.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-21.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-23.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-23.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-23.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-24.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-24.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-24.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-25.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-25.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-25.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-26.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-26.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-26.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-11/750/15-days-in-japan-the-miyajima-island-27.jpg"
      data-image-medium-src="/images/day-11/1500/15-days-in-japan-the-miyajima-island-27.jpg"
      data-image-large-src="/images/day-11/3000/15-days-in-japan-the-miyajima-island-27.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-28.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-28.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-28.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415" class="full"
      src="/images/day-11/750/15-days-in-japan-the-miyajima-island-29.jpg"
      data-image-medium-src="/images/day-11/1500/15-days-in-japan-the-miyajima-island-29.jpg"
      data-image-large-src="/images/day-11/3000/15-days-in-japan-the-miyajima-island-29.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-31.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-31.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-31.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-32.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-32.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-32.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    Green tea ice cream.
  </p>

  <p class="break">
    I went back to the station. Picked up my backpack from the station lockers
    and took a train to Kyoto. After I arrived to my Ryokan, my home for the
    next couple of days, I went to get some dinner at a local ramen bar
    and started preparing for the following day.
  </p>

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-34.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-34.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-34.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-36.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-36.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-36.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-11/625/15-days-in-japan-the-miyajima-island-37.jpg"
      data-image-medium-src="/images/day-11/1250/15-days-in-japan-the-miyajima-island-37.jpg"
      data-image-large-src="/images/day-11/2500/15-days-in-japan-the-miyajima-island-37.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">


</section>

<section id="article-footer">

  <div class="next-article">
    <a href="/day-12/castles-of-kyoto">
      <img width="1500" height="2258"
        src="/images/day-12/750/15-days-in-japan-castles-of-kyoto-46.jpg"
        data-image-medium-src="/images/day-12/2500/15-days-in-japan-castles-of-kyoto-46.jpg"
        data-image-large-src="/images/day-12/3000/15-days-in-japan-castles-of-kyoto-46.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-12/castles-of-kyoto">Next Post:</a>
    </h4>
    <h3>
      <a href="/day-12/castles-of-kyoto">Day 12:</a>
    </h3>
    <h1>
      <a href="/day-12/castles-of-kyoto">Castles of Kyoto</a>
    </h1>
  </div>

  <div class="previous-article">
    <a href="/day-10/the-shinkansen">
      <img width="1500" height="2258"
        src="/images/day-10/750/15-days-in-japan-the-shinkansen-01.jpg"
        data-image-medium-src="/images/day-10/2500/15-days-in-japan-the-shinkansen-01.jpg"
        data-image-large-src="/images/day-10/3000/15-days-in-japan-the-shinkansen-01.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-10/the-shinkansen">Previous Post:</a>
    </h4>
    <h3>
      <a href="/day-10/the-shinkansen">Day 10:</a>
    </h3>
    <h1>
      <a href="/day-10/the-shinkansen">The Shinkansen</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
