---
title: From London to Shibuya
---

<section id="article-cover">
  <span>
    <h3>
      Day 1:
    </h3>
    <h1>
      From London to Shibuya
    </h1>
  </span>

  <img width="750" height="1130"
      src="/images/day-01/750/15-days-in-japan-from-london-to-shibuya-34.jpg"
      data-image-medium-src="/images/day-01/1500/15-days-in-japan-from-london-to-shibuya-34.jpg"
      data-image-large-src="/images/day-01/3000/15-days-in-japan-from-london-to-shibuya-34.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

</section>

<section id="article-body">

  <p>
    <b>Welcome to my 15 Days in Japan</b><br>
    Since I was a teenager I have been fascinated by Japanese culture and so I
    chose this to be my first big trip. Here I will share as much of my
    experience as possible. Starting with the day I arrived from London to the
    Narita International Airport.
  </p>

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-10.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-10.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-10.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-04.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-04.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-04.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-08.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-08.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-08.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    Food is art, and rightfully displayed on most restaurant's front-windows in
    plastic replicas.
  </p>

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-09.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-09.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-09.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-06.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-06.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-06.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    I ordered a <a href="http://www.bmobile.ne.jp/english/">3G SIM card online</a>.
    Because home is where unlimited 3G is.
  </p>

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-11.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-11.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-11.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    Coach ticket from the airport to Tokyo.
  </p>

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-12.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-12.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-12.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="750" height="415" class="full"
      src="/images/day-01/750/15-days-in-japan-from-london-to-shibuya-13.jpg"
      data-image-medium-src="/images/day-01/1500/15-days-in-japan-from-london-to-shibuya-13.jpg"
      data-image-large-src="/images/day-01/3000/15-days-in-japan-from-london-to-shibuya-13.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-14.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-14.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-14.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-15.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-15.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-15.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-18.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-18.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-18.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-20.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-20.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-20.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    On <a href="https://foursquare.com/v/つけ麺屋-やすべえ-赤坂店/4b55265cf964a520e6dc27e3"
    target="_blank">this Ramen bar in Akasuka</a> you place your order and pay on this machine.
    The waitress will then place a glass of water where you are meant to sit.
    And if you can't read the menu, like me, she will try her best to help you.
  </p>

  <img width="625" height="415" class="full"
      src="/images/day-01/750/15-days-in-japan-from-london-to-shibuya-16.jpg"
      data-image-medium-src="/images/day-01/1500/15-days-in-japan-from-london-to-shibuya-16.jpg"
      data-image-large-src="/images/day-01/3000/15-days-in-japan-from-london-to-shibuya-16.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <p>
    View from the flat I was staying in Akasuka.
  </p>

  <p class="break">
    <b>Shinjuku and Shibuya</b><br>
    As the night approached I had no particular plans or expectations, so I freely
    wondered in Shinjuku when Masa, a Tokyoite I have common friends with, invited
    me to hang out with him and his friends. To my surprise we went to an Irish pub,
    which Masa loves, and I had the most expensive pint of Guiness of my life for ¥1000.
    We then went for Nomihodai, an all-you-can-drink 2 hours session, at
    a Japanese bar in Shibuya, where my last photo was taken.
  </p>

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-22.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-22.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-22.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-23.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-23.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-23.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-24.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-24.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-24.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-25.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-25.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-25.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-26.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-26.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-26.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

    <p>
      In Tokyo, you're never more than a few meters away from a vending machine.
    </p>

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-28.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-28.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-28.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-29.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-29.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-29.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-30.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-30.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-30.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-31.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-31.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-31.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-33.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-33.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-33.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-34.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-34.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-34.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-35.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-35.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-35.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-37.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-37.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-37.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-38.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-38.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-38.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-39.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-39.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-39.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">

  <img width="625" height="415"
      src="/images/day-01/625/15-days-in-japan-from-london-to-shibuya-41.jpg"
      data-image-medium-src="/images/day-01/1250/15-days-in-japan-from-london-to-shibuya-41.jpg"
      data-image-large-src="/images/day-01/2500/15-days-in-japan-from-london-to-shibuya-41.jpg"
      alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">


</section>

<section id="article-footer">

  <div class="next-article">
    <a href="/day-02/wedding-at-the-meiji-jingu-shrine">
      <img width="1500" height="2258"
        src="/images/day-02/750/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
        data-image-medium-src="/images/day-02/2500/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
        data-image-large-src="/images/day-02/3000/15-days-in-japan-wedding-at-the-meiji-jingu-shrine-17.jpg"
        alt="Photo taken as part of the blog 15 Days in Japan by Nuno Coelho Santos">
    </a>
    <h4>
      <a href="/day-02/wedding-at-the-meiji-jingu-shrine">Next Post:</a>
    </h4>
    <h3>
      <a href="/day-02/wedding-at-the-meiji-jingu-shrine">Day 2:</a>
    </h3>
    <h1>
      <a href="/day-02/wedding-at-the-meiji-jingu-shrine">Wedding at the Meiji Jingu Shrine</a>
    </h1>
  </div>

  <%= partial "partials/about" %>

</section>
